name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Start Docker Compose
        run: docker compose up -d

      - name: Set up Node.js 20.5.0
        uses: actions/setup-node@v6
        with:
          node-version: 20.5.0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: false

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Type check
        run: pnpm check

      - name: Format check
        run: pnpm format

      - name: Lint
        run: pnpm lint

      # always shut down Docker Compose
      - name: Stop Docker Compose
        if: always()
        run: docker compose down
